<meta charset="utf-8" />
<title>EJS is the BEST</title>
<!-- load css -->
<link rel="stylesheet" href="../styles.css">
<!-- or load a cdn like bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<!-- your in document styles -->
<style>
    body {padding-top: 50px;}
</style>